* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;;
}

body {
  font-family: 'Varela Round', sans-serif;
  width: 100vw;
  height: 100vh;
}

p {
  font-size: 1.2rem;
}

/* Top Navbar*/
.navbar {
  background-color: #9FC5F8;
  color: #fff;
  padding: 10px;
  width: 100%;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-right: 20px;
  width: 75%;
}

.nav-links {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
}

h1 {
  font-size: 3rem;
}

/*Main content top*/
.container {
  margin: 0 auto;
  padding: 20px 10px;
  padding-top: 10px;
  position: relative;
  width: 75%;
}

.main-top {
  border-bottom: 3px solid #000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 10px 0;
}

.main-temp-content {
  display: flex;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
}

.main-temp-content p {
  margin-right: 10px;
}

#temp-scales {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.25rem;
}

/* Weather section*/
.weather {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.daily-weather {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 50vh;
  width: 15vw;
}

h3 {
  font-size: 2rem;
}

.weather-icon {
  border-radius: 50%;
  max-width: 80%;
  width: 100%;
}

.temperature {
  display: flex;
  justify-content: space-between;
  width: 10vw;
}

.temperature p {
  font-size: 1.5rem;
}

.high-temp,
.high {
  color: #CF2A27;
}

.low-temp,
.low {
  color: #2B78E4;
}

/* Cookie Container */
.cookie-container {
  background-color: #eee;
  border: 3px solid #000;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px;
  position: fixed;
  width: 73.6%;
}

.cookie-text {
  width: 70%;
}

h4 {
  font-size: 1.35rem;
  margin-bottom: 5px;
}

.cookie-container p {
  font-size: 1em;
}

.btn {
  background-color: #9FC5F8;
  border: 2px solid #000;
  box-shadow: 3px 3px #000;
  color: #000;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.25em;
  padding: 10px 15px;
  width: 20%;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* TO DO: responsive design (mobile-first responsive design */
